{
  "github": {
    "org": "your-org",
    "accounts": [
      { "account": "account1", "org": "org1" },
      { "account": "account2", "org": "org2" },
      { "account": "account3", "org": "org3" }
    ]
  },
  "bitbucket": {
    "workspace": "your-workspace",
    "userDisplayName": "Your Name"
  },
  "skipBitbucket": false,
  "watchInterval": 15
}
